.button {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--font-color);
  border-radius: 0.3rem;
  text-decoration: none;
  background: transparent;
  border: 1px solid var(--font-color);
  margin-right: 1vw;
  padding: 0.5vw 0.6vw;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  transition: color 0.2s, background-color 0.2s; /* Added transition for smoother hover effect */
}

.button:hover {
  color: var(--hover-font-color);
  background-color: var(--hover-color);
}

.button__icon {
  margin-right: 0.3rem;
}

.button:hover .button__icon {
  color: var(--hover-font-color);
}

/* Define a base button size */
.button--base {
  padding: 0.5vw 0.6vw;
  font-size: 1.6rem;
}

/* Define a large button size and icon size */
.button--large {
  padding: 1vw;
  font-size: 1.5vw;
}

.button--large .button__icon {
  margin-left: 0.5rem;
}

/* Responsive design for smaller screens */
@media (max-width: 1000px) {
  .button {
    width: 100%;
    margin: 1.8vw 0 1vw 0;
    padding: 1.5vw 2.5vw;
    font-size: 6vw;
  }

  .button__icon {
    font-size: 6vw;
    margin-right: 0.5rem;
  }

  /* Use the large button and icon size for smaller screens */
  .button--size-large,
  .button--size-large .button__icon {
    padding: 3vw 2.5vw;
    font-size: 5vw;
    margin-left: 0.5rem;
    margin-right: 0;
  }
}
