.nav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  border-right: solid 1px var(--border-color);
  background: var(--bg-color-panel);
  transition: 0.2s ease-in-out;
}

.nav__logo {
  color: var(--font-color);
  font-family: "Plaster", sans-serif;
  font-size: 6rem;
  text-decoration: none;
  margin: auto;
  width: fit-content;
  display: block;
  text-align: center;
  transition: 0.2s ease-in-out;
}

/* Rainbow Animation on :hover ------------------*/
.nav__logo:hover {
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 20s ease-in-out infinite alternate;
  background-size: 700% 100%;
  transition: 0.2s ease-in-out;
}

@keyframes rainbow_animation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
/*-----------------------------------------------*/

.nav > *:not(:first-child) {
  padding: 0.8rem 1.5rem;
}

/* The navigation menu links */

.nav__link {
  display: block;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 2rem;
  color: var(--font-color);
  transition: 0.2s ease-in-out;
}

/* When you mouse over the navigation links, change their color */
.nav__link:hover:not(.nav__link--active) {
  text-decoration: underline var(--font-color) 2px;
}

.nav__link--active {
  background-color: var(--hover-color);
  color: var(--hover-font-color);
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .nav {
    padding-top: 15px;
  }
  .nav__link {
    font-size: 5vh;
  }
}

.mobile-nav {
  display: none;
  width: 100%;
  position: fixed;
  justify-content: space-around;
  align-items: flex;
  flex-direction: column;
  top: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  -webkit-transition: height 0.5s ease-in-out;
  border-bottom: solid 1px var(--border-color);
  background: var(--bg-color-panel);
  z-index: 10;
}

.mobile-nav__menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.mobile-nav__icon {
  color: var(--font-color);
  font-size: 4rem;
  float: right;
  cursor: pointer;
}

.mobile-nav__links {
  padding-top: 0rem;
  height: 0px;
}

.mobile-nav__button {
  display: block;
  text-align: center;
  font-family: "Montserrat", "sans-serif";
  color: var(--font-color);
  margin: 0px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2rem;
  padding: none;
}

.mobile-nav__button:hover {
  background-color: var(--hover-color);
  color: var(--hover-font-color);
}

.theme-switch {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}

.theme-switch i {
  color: var(--font-color);
  transition: 0.2s ease-in-out;
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 1000px) {
  .nav {
    display: none;
  }

  .mobile-nav {
    display: inline-flex;
  }

  .mobile-nav__logo {
    color: var(--font-color);
    font-family: "Plaster", sans-serif;
    font-size: 4.5rem;
    margin-top: -1rem;
    text-decoration: none;
    height: 100%;
    width: fit-content;
  }

  .theme-switch i {
    color: var(--font-color);
    transition: 0.2s ease-in-out;
    font-size: 2.5rem;
    text-align: center;
  }
}
