* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

html,
body {
  height: 100%;
  font-family: sans-serif;
}

body {
  background-color: #05090c;
  padding: 1.5rem 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  color: #fdffff;
  border-bottom: 1px solid #fdffff;
  gap: 1px;
  height: 60px;
}

.nav-btns {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-right: 20px;
  border-right: 1px solid #fdffff;
}

.nav-btn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

h1 {
  font-size: 48px;
}

p {
  font-size: 24px;
}
