#about {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.about__flex {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--bg-color-panel);
  padding: 1.5rem;
  box-sizing: border-box;
  border-radius: 0.6rem;
  border: solid 1px var(--border-color);
  transition: all 0.2s ease-in-out;
}

.about__left {
  flex: 0 0 45%;
  display: flex;
  flex-direction: column;
}

.about__right {
  flex: 0 0 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__title {
  width: 100%;
}

.about__image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Update your image styling */
.about__image img {
  display: block;
  width: 50%;
  height: auto;
  box-sizing: border-box;

  /* Add these properties for the liquid effect */
  animation: liquid-border 10s linear infinite;
}

/* Add this animation */
@keyframes liquid-border {
  0% {
    border-radius: 55% 45% 55% 45% / 55% 45% 55% 45%;
  }
  10% {
    border-radius: 60% 40% 52% 48% / 51% 49% 58% 42%;
  }
  20% {
    border-radius: 62% 38% 47% 53% / 46% 54% 59% 41%;
  }
  30% {
    border-radius: 58% 42% 42% 58% / 43% 57% 56% 44%;
  }
  40% {
    border-radius: 52% 48% 39% 61% / 40% 60% 50% 50%;
  }
  50% {
    border-radius: 45% 55% 42% 58% / 41% 59% 45% 55%;
  }
  60% {
    border-radius: 40% 60% 47% 53% / 46% 54% 41% 59%;
  }
  70% {
    border-radius: 42% 58% 51% 49% / 51% 49% 43% 57%;
  }
  80% {
    border-radius: 47% 53% 54% 46% / 54% 46% 48% 52%;
  }
  90% {
    border-radius: 51% 49% 56% 44% / 57% 43% 52% 48%;
  }
  100% {
    border-radius: 55% 45% 55% 45% / 55% 45% 55% 45%;
  }
}

.about__description {
  color: var(--font-color);
  margin: 0rem 0rem 1rem 0rem;
  font-size: 1.45vw;
  text-align: justify;
  hyphens: auto;
}

.about__button {
  margin-top: auto;
}

@media (max-width: 1400px) {
  .about__image img {
    width: 70%;
  }
}

@media (max-width: 1000px) {
  #about {
    justify-content: center;
  }

  .about__flex {
    width: 90%;
    flex-direction: column;
    margin-top: 3.5rem;
    justify-content: center;
    padding: 1.2rem;
    gap: 3vw;
  }

  .about__left {
    flex: 0 0 100%;
    order: 1;
  }

  .about__right {
    flex: 0 0 100%;
    order: 0;
    margin: 1vw 0;
  }

  .about__title {
    text-align: center;
    order: 0;
  }

  .about__description {
    font-size: 4.9vw;
    margin-bottom: 0;
    order: 1;
  }

  .about__button {
    width: 100%;
    order: 2;
  }

  .about__image img {
    width: 40vw;
  }
}
