#about {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.link {
  color: var(--font-color);
}

#about__grid {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  grid-template-rows: 0fr 1fr fit-content;
  grid-template-areas:
    "grid__title grid__img"
    "txtArea grid__img"
    "btnArea grid__img";
}

.grid__img {
  grid-area: grid__img;
}

.grid__img img {
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  margin-top: 1.5vw;
  border-radius: 100%;
  -moz-box-shadow: 0 0 15px var(--border-color);
  -webkit-box-shadow: 0 0 15px var(--border-color);
  box-shadow: 0px 0px 15px var(--border-color);
}

.grid__text {
  grid-area: txtArea;
  color: var(--font-color);
  margin: 0px;
  text-align: inter-word;
  font-size: 1.5vw;
  text-align: justify;
}

.grid__btn {
  margin-top: 2vw;
  grid-area: btnArea;
}

.grid__title {
  grid-area: grid__title;
}

@media (max-width: 800px) {
  #about {
    width: 100%;
    display: flex;
    align-items: center;
  }

  #about__grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 15px 0px;
    grid-template-areas:
      "grid__title grid__title grid__title grid__title"
      "grid__img grid__img grid__img grid__img"
      "txtArea txtArea txtArea txtArea"
      "btnArea btnArea btnArea btnArea";
    width: 75%;
    margin: 0 auto;
    margin-top: 10vw;
  }

  .grid__img {
    margin-top: 1vh;
    margin-left: 0px;
    margin-bottom: 3vw;
  }
  .grid__img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .grid__text {
    grid-area: txtArea;
    text-align: center;
    font-size: 5vw;
  }

  .grid__btn {
    grid-area: btnArea;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0vw;
  }
}
