#about {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

#about__grid {
  display: grid;
  width: 85%;
  grid-template-columns: 45% 55%;
  grid-template-rows: 0fr 1fr;
  grid-template-areas:
    "about__title about__image"
    "about__description about__image"
    "about__button about__image";
  background-color: var(--bg-color-panel);
  padding: 1.5rem;
  box-sizing: border-box;
  border-radius: 0.6rem;
  border: solid 1px var(--border-color);
}

.about__title {
  grid-area: about__title;
}

.about__image {
  grid-area: about__image;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__image img {
  display: block;
  width: 50%;
  height: auto;
  border-radius: 100%;
  box-sizing: border-box;
}

.about__description {
  grid-area: about__description;
  color: var(--font-color);
  margin: 0rem 0rem 1rem 0rem;
  font-size: 1.45vw;
  text-align: justify;
  hyphens: auto;
}

.about__button {
  grid-area: about__button;
}

@media (max-width: 1400px) {
  .about__image img {
    width: 70%;
  }
}

@media (max-width: 1000px) {
  #about {
    height: 100vh;
    justify-content: center;
  }

  #about__grid {
    display: grid;
    width: 90%;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 3vw;
    grid-template-areas:
      "about__title"
      "about__image"
      "about__description"
      "about__button";
    margin-top: 3.5rem;
    padding: 1.2rem;
  }

  .about__title {
    text-align: center;
  }

  .about__image {
    margin: 1vw;
  }
  .about__image img {
    width: 40vw;
  }

  .about__description {
    font-size: 4.9vw;
    margin-bottom: 0;
  }

  .about__button {
    width: 100%;
  }
}
