#about {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.link {
  color: var(--font-color);
}

#about__grid {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  grid-template-rows: 0fr 1fr fit-content;
  grid-template-areas:
    "about__title about__image"
    "about__description about__image"
    "about__button about__image";
}

.about__title {
  grid-area: about__title;
}

.about__image {
  grid-area: about__image;
}

.about__image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  margin-top: 1.5vw;
  border-radius: 100%;
  -moz-box-shadow: 0 0 15px var(--border-color);
  -webkit-box-shadow: 0 0 15px var(--border-color);
  box-shadow: 0px 0px 15px var(--border-color);
}

.about__description {
  grid-area: about__description;
  color: var(--font-color);
  margin: 0px;
  font-size: 1.5vw;
  text-align: justify;
}

.about__button {
  margin-top: 2vw;
  grid-area: about__button;
}

@media (max-width: 800px) {
  #about {
    width: 100%;
    display: flex;
    align-items: center;
  }

  #about__grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 15px 0px;
    grid-template-areas:
      "about__title"
      "about__image"
      "about__description"
      "about__button";
    width: 75%;
    margin: 0 auto;
    margin-top: 10vw;
  }

  .about__title {
    text-align: center;
  }

  .about__image {
    margin-top: 1vh;
    margin-left: 0px;
    margin-bottom: 3vw;
  }
  .about__image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .about__description {
    text-align: center;
    font-size: 5vw;
  }

  .about__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0vw;
  }
}
