#contact {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

#contact__info {
  background-color: var(--bg-color-panel);
  border: solid 1px var(--border-color);
  padding: 1.2rem;
  box-sizing: border-box;
  border-radius: 0.6rem;
}

#contact__title {
  font-weight: bold;
}

#contact__subtext {
  margin-top: 0vw;
  margin-bottom: 0rem;
  font-size: 1.4vw;
  line-height: 0.5vw;
}

@media (max-width: 1000px) {
  #contact {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
  }

  #contact__info {
    display: inline-block;
  }

  #contact__title {
    font-weight: 700;
    font-size: 2rem;
  }

  #contact__subtext {
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 5vw;
    text-align: center;
    line-height: normal;
  }
}
