#home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

#home__content {
  width: 100%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

#staticText {
  display: inline-block;
  font-weight: bold;
  font-size: 4.5vw;
  color: var(--font-color);
  letter-spacing: 0.1vw;
  margin-bottom: 1vw;
}

#dynamicText {
  font-weight: bold;
  display: inline-block;
  font-size: 4.5vw;
  color: var(--font-color);
  letter-spacing: 0.1vw;
  margin-left: 1vw;
}

#cursor {
  display: inline-block;
  width: 3vw;
  height: 5vw;
  background-color: var(--font-color);
}

@keyframes blink {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: var(--font-color);
  }
}

@media (max-width: 800px) {
  #home {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
  }

  #staticText {
    display: inline-block;
    font-weight: bold;
    font-size: 15vw;
    color: var(--font-color);
    letter-spacing: 0.1vw;
    margin-bottom: 0vw;
  }

  #dynamicText {
    font-weight: bold;
    display: inline-block;
    font-size: 15vw;
    color: var(--font-color);
    letter-spacing: 0.1vw;
    margin-left: 1vw;
    margin-bottom: 1.2vw;
  }

  #cursor {
    display: inline-block;
    width: 7vw;
    height: 12vw;
    background-color: var(--font-color);
  }
}
