#home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#home__content {
  width: 100%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

#typewriter__text {
  height: fit-content;
}

#staticText,
#dynamicText {
  font-weight: bold;
  display: inline-block;
  font-size: 4.5vw;
  color: var(--font-color);
  letter-spacing: 0.1vw;
}

#staticText {
  margin-bottom: 1vw;
}

#dynamicText {
  margin-left: 1vw;
}

#cursor {
  display: inline-block;
  width: 3vw;
  height: 5vw;
  background-color: var(--font-color);
}

@keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#scroll__indicator {
  display: none;
  width: 100%;
  margin-top: 10rem;
}

#scroll__indicator ion-icon {
  animation: updown 2s ease infinite;
  font-size: 6rem;
}

@keyframes updown {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}

@media (max-width: 1000px) {
  #home {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #home__content {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    margin-top: auto;
  }

  #typewriter__text {
    height: 20rem;
  }

  #staticText,
  #dynamicText {
    font-size: 16vw;
    letter-spacing: 0.1vw;
    color: var(--font-color);
    font-weight: bold;
  }

  #staticText {
    margin-bottom: 0;
  }

  #dynamicText {
    margin-left: 1vw;
    margin-bottom: 1.2vw;
    height: 3rem;
  }

  #cursor {
    display: inline-block;
    width: 7vw;
    height: 13vw;
    background-color: var(--font-color);
  }

  #home__buttons {
    width: 50%;
    display: none;
  }

  #scroll__indicator {
    display: block;
    margin-top: auto;
  }
}
