#projects {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vw;
  box-sizing: border-box;
  border-radius: 0.6rem;
  width: 85%;
  margin-top: 3.5rem;
  height: 100vh;
  justify-content: center;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-card {
  margin-top: 1vw;
  margin-bottom: 1vw;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-card);
  box-sizing: border-box;
  border-radius: 0.5rem;
  height: fit-content;
  border: 1px solid var(--border-color);
  overflow: hidden;
  width: calc(33.33% - 1vw); /* Set the width to one-third minus the margin */
  max-width: calc(
    33.33% - 1vw
  ); /* Set the maximum width to one-third minus the margin */
  transition: 0.2s ease-in-out;
}

.project-card__image {
  height: 30%;
  width: 100%;
}

.project-card__image img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
  border-radius: 0.6rem;
}

.project-card__information {
  color: var(--font-color);
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
}

.project-card__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2vw;
  margin: 0.4rem 0px 0.4rem 0px;
}

.project-card__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0.4rem;
}

.project-card__description {
  font-family: "OpenSans", sans-serif;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 400;
  font-size: 1.45vw;
  hyphens: auto;
  text-align: justify;
}

.project__external {
  display: flex;
  align-items: center;
}

.project__external a {
  margin-left: 0.8vw;
  text-decoration: none;
}

.project__external__icon {
  font-size: 3vw;
  color: var(--font-color);
}

.tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.tag {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  display: flex;
  font-size: 1.3rem;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
  gap: 0.2rem;
  align-items: center;
  border: 1px solid var(--border-color);
  background-color: var(--tag-background-color);
}

.tag__icon {
  margin-right: 0.25vw;
  font-size: 1.3rem;
  color: #fff;
}

.tag--html,
.tag__icon--html {
  color: var(--html-tag-color);
}

.tag--css,
.tag__icon--css {
  color: var(--css-tag-color);
}

.tag--javascript,
.tag__icon--javascript {
  color: var(--js-tag-color);
}

.tag--nodejs,
.tag__icon--nodejs {
  color: #6fba4d;
  background-color: var(--nodejs-tag-color);
  border: none;
}

.tag--react,
.tag__icon--react {
  color: #61dafb;
  background-color: var(--react-tag-color);
  border: none;
}

@media (max-width: 1000px) {
  #projects {
    width: 100%;
    padding-top: 5rem;
    align-items: center;
    height: fit-content;
    align-items: center;
    justify-content: center;
  }

  .projects__list {
    flex-direction: column;
    align-items: center;
  }

  .project-card__image img {
    border-radius: 0.6rem;
  }

  .project-card__title {
    margin-bottom: 0.1vw;
    text-align: center;
    font-size: 7vw;
    margin-top: 4vw;
  }

  .project-card__description {
    font-weight: 400;
    text-align: justify;
    font-size: 4vw;
    margin-top: 1vw;
    margin-bottom: 3vw;
  }

  .project-card {
    flex-direction: column;
    margin-top: 5vw;
    width: 90%;
    max-width: 100%;
  }
  .project-card__external__icon {
    font-size: 10vw;
    padding-left: 3vw;
  }

  .tag {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 4vw;
  }

  .tag__icon {
    position: relative;
    top: 0.3vw;
    margin-right: 0.8vw;
    font-size: 4vw;
  }
}
