#projects {
  width: 90%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-content: stretch;
  flex-wrap: wrap;
  flex-direction: column;
}

.projects__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "project project-Info";
  margin: 0 auto;
  border: 1px solid var(--border-color);
  margin-top: 1vw;
  margin-bottom: 2vw;
}

.project {
  grid-area: project;
  height: 100%;
}

.project-Info {
  grid-area: project-Info;
  background: var(--bg-color);
  color: var(--font-color);
  padding: 1.5vw 1.5vw;
}

.project__image {
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
}

.project__title {
  font-family: "Montserrat", sans-serif;
  color: var(--font-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 2vw;
  display: inline-block;
  margin-top: 0.6vw;
  margin-bottom: 1vw;
}

.project__description {
  font-family: "OpenSans", sans-serif;
  font-size: 1.5vw;
  margin-bottom: 1vw;
  font-weight: 400;
  margin-top: 0px;
}

.project__external {
  display: inline-flex;
  float: right;
}

.project__external a {
  margin-left: 0.8vw;
  text-decoration: none;
}

.project__external__icon {
  font-size: 3vw;
  color: var(--font-color);
}

.tag {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  display: inline-block;
  margin-right: 0.8vw;
  padding: 0.4vw;
  font-size: 1.2vw;
}

.tag__icon {
  position: relative;
  top: 0.15vw;
  margin-right: 0.3vw;
  margin-left: 0.1vw;
  font-size: 1.2vw;
  color: white;
}

.tag--html {
  color: rgb(229, 76, 38);
}

.tag__icon--html {
  color: rgba(229, 76, 38);
}

.tag--css {
  color: rgb(54, 155, 214);
}

.tag__icon--css {
  color: rgb(54, 155, 214);
}

.tag--javascript {
  color: rgb(254, 229, 1);
}

.tag__icon--javascript {
  color: rgb(254, 229, 1);
}

.Project-Git {
  grid-area: Project-Git;
  text-align: center;
}

@media (max-width: 800px) {
  #projects {
    width: 100%;
    height: fit-content;
    padding-top: 25vw;
  }

  .projects__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "grid__title grid__title"
      "project project"
      "project-Info project-Info";
    margin-top: 10vw;
    margin-bottom: 10vw;
  }

  .project__title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 4.5vw;
    display: inline-block;
    margin-top: 0.6vw;
    margin-bottom: 0.1vw;
  }

  .project__description {
    font-size: 4vw;
    margin-bottom: 1vw;
    font-weight: 400;
    text-align: justify;
  }

  .project {
    grid-area: project;
    background: #0d1016;
  }

  .project-info {
    grid-area: project-Info;
    border-radius: 0vw 0vw 1vw 1vw;
    padding: 3vw 5vw;
    margin-bottom: 10vw;
  }

  .project__external__icon {
    font-size: 8vw;
    color: white;
  }

  .tag {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    display: inline-block;
    margin-right: 1vw;
    border-radius: 1vw;
    padding: 1vw;
    font-size: 4vw;
  }

  .tag__icon {
    position: relative;
    top: 0.3vw;
    margin-right: 0.8vw;
    margin-left: 0.1vw;
    font-size: 4vw;
  }
}
