#about {
  width: 100%;
  height: 80vh;
  vertical-align: middle;
  padding-top: 12rem;
}

#about__grid {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr 1fr 1fr;
  grid-template-rows: 0fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "grid__title grid__title grid__img grid__img"
    "txtArea txtArea grid__img grid__img"
    "btnArea btnArea grid__img grid__img";
  margin: 0 auto;
}

.grid__img {
  grid-area: grid__img;
}

.grid__img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 5vw;
  border-radius: 69% 53% 88% 68% / 45% 82% 83% 94%;
  box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  animation: morphing 15s infinite;
}

.grid__text {
  grid-area: txtArea;
  color: var(--font-color);
  margin: 0vw;
  text-align: justify;
}

.grid__btn {
  margin-top: 1vw;
  grid-area: btnArea;
}

.link {
  color: var(--font-color);
}

@keyframes morphing {
  0% {
    border-radius: 40% 30% 30% 40% / 50% 60% 70% 80%;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  }
  15% {
    border-radius: 80% 70% 60% 50% / 40% 30% 20% 10%;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  }
  30% {
    border-radius: 70% 30% 70% 30% / 30% 70% 30% 70%;
  }
  45% {
    border-radius: 30% 70% 30% 70% / 70% 30% 70% 30%;
    box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
  }
  60% {
    border-radius: 69% 29% 69% 29% / 29% 69% 29% 69%;
  }
  75% {
    border-radius: 30% 70% 30% 70% / 70% 30% 70% 30%;
  }
}

@media (max-width: 640px) {
  #about {
    width: 100%;
    height: fit-content;
    background-size: cover;
    background-color: #090c10;
  }

  #about__grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 15px 0px;
    grid-template-areas:
      "grid__title grid__title grid__title grid__title"
      "grid__img grid__img grid__img grid__img"
      "txtArea txtArea txtArea txtArea"
      "btnArea btnArea btnArea btnArea";
    width: 75%;
    margin: 0 auto;
    margin-top: 10vw;
  }

  .grid__img {
    margin-top: 0vh;
    margin-left: 0px;
    margin-bottom: 3vw;
  }
  .grid__img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4vw 2vw 0vw #862be8;
  }

  .grid__text {
    grid-area: txtArea;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 5vw;
    text-align: center;
  }

  .grid__btn {
    grid-area: btnArea;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
