.btn {
  color: var(--font-color);
  border: solid 1px var(--border-color);
  cursor: pointer;
  font-size: 2rem;
  transition: 0.2s;
  text-decoration: none;
  background: var(--bg-color);
  margin: 1vw 1vw 0vw 0vw;
  padding: 0.5vw 0.6vw 0.5vw 0.6vw;
  font-family: "Montserrat";
}

.btn:hover {
  transition: 0.2s;
  color: var(--hover-font-color);
  background-color: var(--hover-color);
}

.btn__icon {
  top: 0.22vw;
  transition: 0.2s;
  color: var(--font-color);
  position: relative;
  margin: 0vw 0.3vw 0vw 0vw;
}

.btn:hover .btn__icon {
  transition: 0.2s;
  color: var(--hover-font-color);
}

.btn--large {
  padding: 1vw 1vw;
  font-size: 2rem;
}

.btn__icon--large {
  top: 0.7vw;
  color: var(--font-color);
  font-size: 3.2rem;
  margin-right: 0vw;
}
