@import "fonts.css";
@import "scrollbar.css";
@import "navbar.css";
@import "home.css";
@import "about.css";
@import "projects.css";
@import "contact.css";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #090c10;
}

.btn {
  color: white;
  cursor: pointer;
  font-size: 1.5vw;
  transition: 0.2s;
  border-radius: 0.5vw;
  text-decoration: none;
  background: #21262d;
  margin: 1vw 1vw 0vw 0vw;
  padding: 0.5vw 0.5vw 0.5vw 0.5vw;
  font-family: "Poppins", sans-serif;
}

.btn:hover {
  transition: 0.2s;
  color: #001220;
  background-color: #ddd;
}

.btn__icon {
  top: 0.2vw;
  transition: 0.2s;
  color: #ff0077;
  position: relative;
  margin: 0vw 0.3vw 0vw 0vw;
}

.btn:hover .btn__icon {
  transition: 0.2s;
  color: #001220;
}

.btn--large {
  padding: 1vw 1vw;
  font-size: 1.5vw;
}

.btn--large:hover {
  box-shadow: 0.5vw 0.5vw 0vw #ff0077;
}

.btn__icon--large {
  top: 0.7vw;
  color: white;
  font-size: 2.5vw;
  margin-right: 0vw;
}

.grid__title {
  grid-area: grid__title;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3.5vw;
  text-shadow: 0.3vw 0.3vw #ff0077;
}

footer {
  font-size: 1.3vw;
  color: white;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-bottom: 2vw;
}

.footer__link {
  color: #ff0077;
  text-decoration: none;
}

@media (max-width: 640px) {
  .grid__title {
    grid-area: grid__title;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 10vw;
    text-shadow: 1.1vw 1vw #ff0077;
    text-align: center;
  }

  .btn {
    margin: 1.8vw 1.8vw 1vw 0vw;
    padding: 1.5vw 2.5vw 1.5vw 2.5vw;
    font-size: 6vw;
    border-radius: 1.5vw;
    display: inline-block;
  }

  .btn__icon {
    color: white;
    position: relative;
    top: 0.8vw;
    margin-right: 1.2vw;
    color: #ff0077;
    transition: 0.2s;
    font-size: 6vw;
  }

  .btn--large {
    padding: 3vw 2.5vw;
    font-size: 5vw;
    border-radius: 1.5vw;
    box-shadow: 1vw 1.5vw 0vw #ff0077;
  }

  .btn__icon--large {
    color: white;
    top: 1vw;
    font-size: 6.5vw;
    margin-right: 0vw;
  }

  footer {
    font-size: 4.5vw;
    text-align: center;
    margin-top: 45vw;
    padding: 9vw;
  }
}
