@import "./sections/home.css";
@import "./sections/about.css";
@import "./sections/projects.css";
@import "./sections/contact.css";
@import "fonts.css";
@import "navigation.css";
@import "buttons.css";

:root {
  color-scheme: light dark; /* both supported */
  --border-color: rgb(225, 225, 225);
  --bg-color: rgb(15, 15, 15);
  --font-color: rgb(225, 225, 225);
  --hover-color: rgb(225, 225, 225);
  --hover-font-color: rgb(15, 15, 15);
}

/* Light Theme Colors */
[data-theme="light"] {
  --border-color: rgb(15, 15, 15);
  --bg-color: rgb(225, 225, 225);
  --font-color: rgb(15, 15, 15);
  --hover-color: rgb(15, 15, 15);
  --hover-font-color: rgb(225, 225, 225);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  margin-left: 17rem;
  font-family: "Montserrat", sans-serif;
  transition: 0.1s;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3vw;
  margin: 0vw;
}

p {
  font-size: 1.7vw;
  font-family: "OpenSans";
}

ion-icon {
  color: var(--font-color);
}

@media (max-width: 640px) {
  .grid__title {
    grid-area: grid__title;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 10vw;
    text-shadow: 1.1vw 1vw #9147fe;
    text-align: center;
  }

  .btn {
    margin: 1.8vw 1.8vw 1vw 0vw;
    padding: 1.5vw 2.5vw 1.5vw 2.5vw;
    font-size: 6vw;
    border-radius: 1.5vw;
    display: inline-block;
  }

  .btn__icon {
    color: white;
    position: relative;
    top: 0.8vw;
    margin-right: 1.2vw;
    font-size: 6vw;
  }

  .btn--large {
    padding: 3vw 2.5vw;
    font-size: 5vw;
    border-radius: 1.5vw;
    box-shadow: 1vw 1.5vw 0vw #9147fe;
  }

  .btn__icon--large {
    color: white;
    top: 1vw;
    font-size: 6.5vw;
    margin-right: 0vw;
  }

  footer {
    font-size: 4.5vw;
    text-align: center;
    margin-top: 1vw;
    padding: 9vw;
    margin-bottom: 20vw;
  }
}
