@import "./sections/home.css";
@import "./sections/about.css";
@import "./sections/projects.css";
@import "./sections/contact.css";
@import "fonts.css";
@import "navigation.css";
@import "buttons.css";

:root {
  color-scheme: light dark; /* both supported */
  --border-color: rgb(225, 225, 225);
  --bg-color: rgb(15, 15, 15);
  --font-color: rgb(225, 225, 225);
  --hover-color: rgb(225, 225, 225);
  --hover-font-color: rgb(15, 15, 15);
}

/* Light Theme Colors */
[data-theme="light"] {
  --border-color: rgb(15, 15, 15);
  --bg-color: rgb(225, 225, 225);
  --font-color: rgb(15, 15, 15);
  --hover-color: rgb(15, 15, 15);
  --hover-font-color: rgb(225, 225, 225);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  margin-left: 17rem;
  transition: 0.1s;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3vw;
  margin: 0vw;
  line-height: 3vw;
}

p {
  font-family: "OpenSans", sans-serif;
}

ion-icon {
  color: var(--font-color);
}

@media (max-width: 800px) {
  body {
    margin-left: 0px;
  }

  h1 {
    color: var(--font-color);
    font-size: 10vw;
  }

  p {
    font-family: "OpenSans", sans-serif;
  }

  .grid__title {
    grid-area: grid__title;
    font-weight: 700;
    font-size: 10vw;
    text-align: center;
  }
}
