#navbar {
  width: 100%;
  height: 5vw;
  position: fixed;
  z-index: 2;
}

#navbar__center {
  margin: 0 auto;
  width: 90%;
}

#navlogo {
  color: var(--font-color);
  font-family: "Plaster", sans-serif;
  font-size: 6rem;
  text-decoration: none;
  transition: 0.2s;
  margin: 0rem 3.5rem 0rem 3rem;
  animation-play-state: paused;
}

#navlogo:hover {
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 20s linear infinite;
  background-size: 10000% 100%;
}

@keyframes rainbow_animation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 13rem; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  border-right: solid 1px var(--border-color);
}

/* The navigation menu links */
.sidenav a {
  padding: 0.8rem 1rem 0.8rem 1rem;
  text-decoration: none;
  font-size: 2rem;
  color: var(--font-color);
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: var(--hover-font-color);
  background-color: var(--hover-color);
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

#mobilenav__icon {
  display: none;
  color: white;
  font-size: 4rem;
  float: right;
}

#mobilenav {
  position: relative;
  transition: 0.2s ease-in-out;
  margin-top: 0.5vh;
}

#mobilenav__links {
  display: none;
  transition: 0.2s ease-in-out;
}

.mobilenav__buttons {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.2s ease-in-out;
}

.mobilenav__buttons:hover {
  background-color: #ddd;
  color: #001220;
}

.switch {
  margin: 0 auto;
  width: 50%;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

ion-icon[name="sunny"] {
  display: none;
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
  color: white;
}

ion-icon[name="moon"] {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
}

@media (max-width: 640px) {
  #navbar {
    width: 100%;
    height: 4rem;
    position: fixed;
    transition: 0.2s;
    font-family: "Poppins", sans-serif;
    z-index: 2;
    background: #090c10;
  }

  #navbar__logo {
    color: white;
    font-family: "Plaster", sans-serif;
    font-size: 4rem;
    text-decoration: none;
    line-height: 3rem;
  }
  #navbar__links {
    display: none;
  }
  #mobilenav__icon {
    display: block;
  }
}
