#navbar {
  width: 100%;
  height: 5vw;
  position: fixed;
  z-index: 2;
}

#navbar__center {
  margin: 0 auto;
  width: 90%;
}

#navbar__logo {
  color: white;
  font-family: "Plaster", sans-serif;
  font-size: 4.5vw;
  text-decoration: none;
  line-height: 4.2vw;
  transition: 0.2s;
}

#navbar__logo:hover {
  color: #ff0077;
  transition: 0.2s ease-in-out;
}

#navbar__links {
  display: flex;
  float: right;
  list-style-type: none;
  margin-top: 1.5vw;
}

.navbar__button {
  color: white;
  padding: 0.5vw 1vw;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.5vw;
  transition: 0.2s ease-in-out;
  margin-left: 1vw;
}

.navbar__button:hover {
  transition: 0.2s;
  background-color: #ddd;
  color: #001220;
  border-radius: 1vw;
}

#mobilenav__icon {
  display: none;
  color: white;
  font-size: 4rem;
  float: right;
}

#mobilenav {
  position: relative;
  transition: 0.2s ease-in-out;
  margin-top: 0.5vh;
}

#mobilenav__links {
  display: none;
  transition: 0.2s ease-in-out;
}

.mobilenav__buttons {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.2s ease-in-out;
}

.mobilenav__buttons:hover {
  background-color: #ddd;
  color: #001220;
}

@media (max-width: 640px) {
  #navbar {
    width: 100%;
    height: 4rem;
    position: fixed;
    transition: 0.2s;
    font-family: "Poppins", sans-serif;
    z-index: 2;
    background: #090c10;
  }

  #navbar__logo {
    color: white;
    font-family: "Plaster", sans-serif;
    font-size: 4rem;
    text-decoration: none;
    line-height: 3rem;
  }
  #navbar__links {
    display: none;
  }
  #mobilenav__icon {
    display: block;
  }
}
