#nav {
  height: 100%;
  width: 13rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  border-right: solid 1px var(--border-color);
  background: var(--bg-color-panel);
}

#nav__logo {
  color: var(--font-color);
  font-family: "Plaster", sans-serif;
  font-size: 6rem;
  text-decoration: none;
  margin: auto;
  width: fit-content;
  display: block;
  text-align: center;
}

/* Rainbow Animation on :hover ------------------*/
#nav__logo:hover {
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 20s linear infinite;
  background-size: 10000% 100%;
}

@keyframes rainbow_animation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
/*-----------------------------------------------*/

/* The navigation menu links */
.nav__link {
  display: block;
  font-family: "Montserrat", sans-serif;
  padding: 0.8rem 1rem 0.8rem 1rem;
  text-decoration: none;
  font-size: 2rem;
  color: var(--font-color);
}

/* When you mouse over the navigation links, change their color */
.nav__link:hover {
  text-decoration: underline;
}

.nav__link--active {
  color: var(--hover-font-color);
  background-color: var(--hover-color);
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .nav {
    padding-top: 15px;
  }
  .nav__link {
    font-size: 5vh;
  }
}

#mobileNav {
  display: none;
  width: 100%;
  position: fixed;
  justify-content: space-around;
  align-items: flex;
  flex-direction: column;
  top: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  -webkit-transition: height 0.5s ease-in-out;
  border-bottom: solid 1px var(--border-color);
  background: var(--bg-color-panel);
  z-index: 10;
}

#mobileNav__menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#mobileNav__icon {
  color: var(--font-color);
  font-size: 4rem;
  float: right;
  cursor: pointer;
}

#mobileNav__links {
  padding-top: 0rem;
  height: 0px;
}

.mobileNav__button {
  display: block;
  text-align: center;
  font-family: "Montserrat", "sans-serif";
  color: var(--font-color);
  margin: 0px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2rem;
  padding: none;
}

.mobileNav__button:hover {
  background-color: var(--hover-color);
  color: var(--hover-font-color);
}

.switch {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}

ion-icon[name="sunny"] {
  width: 2rem;
  height: 2rem;
  padding: 0.8rem 1rem 0.8rem 1rem;
}

ion-icon[name="moon"] {
  display: none;
  width: 2rem;
  height: 2rem;
  padding: 0.8rem 1rem 0.8rem 1rem;
}

@media (max-width: 1000px) {
  #nav {
    display: none;
  }

  #mobileNav {
    display: inline-flex;
  }

  #mobileNav__logo {
    color: var(--font-color);
    font-family: "Plaster", sans-serif;
    font-size: 4.5rem;
    margin-top: -1rem;
    text-decoration: none;
    height: 100%;
    width: fit-content;
  }

  ion-icon[name="sunny"] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
  }

  ion-icon[name="moon"] {
    display: none;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
  }
}
