#navbar {
  width: 100%;
  position: fixed;
  z-index: 1;
  color: #001220;
  top: 0;
}

#navbar__center {
  margin: 0 auto;
  width: 90%;
}

#navLogo {
  color: var(--font-color);
  font-family: "Plaster", sans-serif;
  font-size: 6rem;
  text-decoration: none;
  margin: auto;
  width: fit-content;
}

/* Rainbow Animation on :hover ------------------*/
#navLogo:hover {
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 20s linear infinite;
  background-size: 10000% 100%;
}

@keyframes rainbow_animation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
/*-----------------------------------------------*/

.sideNav {
  height: 100%;
  width: 13rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  border-right: solid 1px var(--border-color);
}

/* The navigation menu links */
.sideNav a {
  font-family: "Montserrat", sans-serif;
  padding: 0.8rem 1rem 0.8rem 1rem;
  text-decoration: none;
  font-size: 2rem;
  color: var(--font-color);
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sideNav a:hover {
  color: var(--hover-font-color);
  background-color: var(--hover-color);
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sideNav a {
    font-size: 5vh;
  }
}

#mobilenav__icon {
  display: none;
  color: var(--font-color);
  font-size: 4rem;
  float: right;
}

#mobilenav {
  width: 90%;
  position: fixed;
  background-color: var(--bg-color);
  z-index: 10;
}

#mobilenav__links {
  padding-top: 3.5rem;
  display: none;
  width: 100%;
}

.mobilenav__button {
  text-align: center;
  font-family: "Montserrat", "sans-serif";
  color: var(--font-color);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2rem;
  display: block;
}

.mobilenav__button:hover {
  background-color: var(--hover-color);
  color: var(--hover-font-color);
}

#switch {
  margin: 0 auto;
  width: 50%;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-left: 1rem;
}

ion-icon[name="sunny"] {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
}

ion-icon[name="moon"] {
  display: none;
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
}

@media (max-width: 840px) {
  .sideNav {
    display: none;
  }

  #navbar {
    width: 100%;
    height: 4rem;
    position: fixed;
    font-family: "Poppins", sans-serif;
    z-index: 2;
    background: #090c10;
  }

  #navbar__logo {
    color: white;
    font-family: "Plaster", sans-serif;
    font-size: 4rem;
    text-decoration: none;
    line-height: 3rem;
  }
  #navbar__links {
    display: none;
  }
  #mobilenav__icon {
    display: block;
  }

  .sidenav {
    display: none;
  }
}
