#navbar {
  width: 100%;
  position: fixed;
  z-index: 1;
  color: #001220;
  top: 0;
}

#navbar__center {
  margin: 0 auto;
  width: 90%;
}

#navLogo {
  color: var(--font-color);
  font-family: "Plaster", sans-serif;
  font-size: 6rem;
  text-decoration: none;
  margin: auto;
  width: fit-content;
}

/* Rainbow Animation on :hover ------------------*/
#navLogo:hover {
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 20s linear infinite;
  background-size: 10000% 100%;
}

@keyframes rainbow_animation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
/*-----------------------------------------------*/

.sideNav {
  height: 100%;
  width: 13rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  border-right: solid 1px var(--border-color);
  background: var(--bg-color-layer1);
}

/* The navigation menu links */
.sideNav a {
  font-family: "Montserrat", sans-serif;
  padding: 0.8rem 1rem 0.8rem 1rem;
  text-decoration: none;
  font-size: 2rem;
  color: var(--font-color);
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sideNav a:hover {
  color: var(--hover-font-color);
  background-color: var(--hover-color);
}

.sideNav__button--active {
  color: var(--hover-font-color);
  background-color: var(--hover-color);
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sideNav a {
    font-size: 5vh;
  }
}

#mobileNav {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: var(--bg-color);
  z-index: 10;
}

#mobileNav__icon {
  color: var(--font-color);
  font-size: 4rem;
  float: right;
  cursor: pointer;
}

#mobileNav__center {
  width: 90%;
  margin: 0 auto;
}

#mobileNav__links {
  display: none;
  padding-top: 1rem;
}

.mobileNav__button {
  display: block;
  text-align: center;
  font-family: "Montserrat", "sans-serif";
  color: var(--font-color);
  margin: 0px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2rem;
  padding: none;
}

.mobileNav__button:hover {
  background-color: var(--hover-color);
  color: var(--hover-font-color);
}

.switch {
  width: fit-content;
  cursor: pointer;
  margin-left: 1rem;
}

ion-icon[name="sunny"] {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
}

ion-icon[name="moon"] {
  display: none;
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
}

@media (max-width: 800px) {
  .sideNav {
    display: none;
  }

  #mobileNav {
    display: block;
  }

  #mobileNav__logo {
    display: inline-block;
    color: var(--font-color);
    font-family: "Plaster", sans-serif;
    font-size: 4.5rem;
    text-decoration: none;
    margin: auto;
    width: fit-content;
    line-height: 3rem;
  }

  .switch {
    width: fit-content;
    margin: auto;
    left: 0;
    right: 0;
    position: fixed;
  }

  ion-icon[name="sunny"] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 0.8rem;
  }

  ion-icon[name="moon"] {
    display: none;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 0.8rem;
  }
}
