#projects {
  width: 100%;
  height: 80vw;
  background: #090c10;
  padding-top: 7vw;
}

.projects__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0fr 0.9fr 0.9fr 0.9fr 0.2fr;
  gap: 1.5vw 0px;
  grid-template-areas:
    "grid__title grid__title"
    "Project1 Project1-Info"
    "Project2-Info Project2"
    "Project3 Project3-Info"
    "Project-Git Project-Git";
  width: 80%;
  margin: 0 auto;
}

.Project1 {
  grid-area: Project1;
  background: #0d1016;
  border-radius: 1vw 0vw 0vw 1vw;
  border-top: 1px solid #202121;
  border-bottom: 1px solid #202121;
  border-left: 1px solid #202121;
  overflow: hidden;
}

.Project1-Info {
  grid-area: Project1-Info;
  background: #0d1016;
  border-radius: 0vw 1vw 1vw 0vw;
  color: white;
  border-top: 1px solid #202121;
  border-bottom: 1px solid #202121;
  border-right: 1px solid #202121;
  padding: 1.5vw 1.5vw;
}

.project__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2vw;
  display: inline-block;
  margin-top: 0.6vw;
  margin-bottom: 0.1vw;
}

.project__description {
  font-family: "Inter", sans-serif;
  font-size: 1.5vw;
  margin-bottom: 1vw;
  font-weight: 400;
  text-align: justify;
}

.project__external {
  display: inline-flex;
  float: right;
}

.project__external a {
  margin-left: 0.8vw;
  text-decoration: none;
}

.project__external__icon {
  font-size: 3vw;
  color: white;
  transition: 0.2s;
}

.project__external__icon:hover {
  color: #f20089;
  transition: 0.2s;
}

.tag {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  display: inline-block;
  margin-right: 0.8vw;
  border-radius: 0.3vw;
  padding: 0.4vw;
  font-size: 1.2vw;
}

.tag__icon {
  position: relative;
  top: 0.15vw;
  margin-right: 0.3vw;
  margin-left: 0.1vw;
  font-size: 1.2vw;
  color: white;
}

.tag--html {
  background: rgba(229, 76, 38, 0.1);
  color: rgba(229, 76, 38, 1);
}

.tag__icon--html {
  color: rgba(229, 76, 38, 1);
}

.tag--css {
  background: rgba(54, 155, 214, 0.1);
  color: rgba(54, 155, 214, 1);
}

.tag__icon--css {
  color: rgba(54, 155, 214, 1);
}

.tag--javascript {
  background: rgba(254, 229, 1, 0.1);
  color: rgba(254, 229, 1, 1);
}

.tag__icon--javascript {
  color: rgba(254, 229, 1, 1);
}

.Project2-Info {
  grid-area: Project2-Info;
  background: #0d1016;
  border-radius: 1vw 0vw 0vw 1vw;
  font-family: "Inter", sans-serif;
  color: white;
  border-top: 1px solid #202121;
  border-bottom: 1px solid #202121;
  border-left: 1px solid #202121;
  padding: 1.5vw 1.5vw;
}

.Project2 {
  grid-area: Project2;
  background: #0d1016;
  border-radius: 0vw 1vw 1vw 0vw;
  border-top: 1px solid #202121;
  border-bottom: 1px solid #202121;
  border-right: 1px solid #202121;
  overflow: hidden;
}

.Project3 {
  grid-area: Project3;
  background: #0d1016;
  border-radius: 1vw 0vw 0vw 1vw;
  border-top: 1px solid #202121;
  border-bottom: 1px solid #202121;
  border-left: 1px solid #202121;
  overflow: hidden;
}

.Project3-Info {
  grid-area: Project3-Info;
  background: #0d1016;
  border-radius: 0vw 1vw 1vw 0vw;
  font-family: "Inter", sans-serif;
  color: white;
  border-top: 1px solid #202121;
  border-bottom: 1px solid #202121;
  border-right: 1px solid #202121;
  padding: 1.5vw 1.5vw;
}

.Project-Git {
  grid-area: Project-Git;
  text-align: center;
}

.project__image {
  background-color: red;
  width: 100%;
  height: 100%;
  border-radius: 0.8vw;
  cursor: pointer;
  transition: 0.2s ease-in;
  overflow: hidden;
  border-radius: 1vw 1vw 1vw 1vw;
  overflow: hidden;
}

@media (max-width: 640px) {
  #projects {
    width: 100%;
    height: fit-content;
    padding-top: 18vw;
  }

  .projects__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 0.7fr 1fr 0.7fr 1fr 0.7fr 1fr 0fr;
    gap: 0px 0px;
    grid-template-areas:
      "grid__title grid__title"
      "Project1 Project1"
      "Project1-Info Project1-Info"
      "Project2 Project2"
      "Project2-Info Project2-Info"
      "Project3 Project3"
      "Project3-Info Project3-Info"
      "Project-Git Project-Git";
    margin-top: 10vw;
  }

  .project__title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 4.5vw;
    display: inline-block;
    margin-top: 0.6vw;
    margin-bottom: 0.1vw;
  }

  .project__description {
    font-family: "Inter", sans-serif;
    font-size: 4vw;
    margin-bottom: 1vw;
    font-weight: 400;
    text-align: justify;
  }

  .Project1 {
    grid-area: Project1;
    background: #0d1016;
    border-radius: 1vw 1vw 0vw 0vw;
    border-top: 1px solid #202121;
    border-left: 1px solid #202121;
    border-right: 1px solid #202121;
    overflow: hidden;
  }

  .Project1-Info {
    grid-area: Project1-Info;
    border-radius: 0vw 0vw 1vw 1vw;
    border-bottom: 1px solid #202121;
    border-left: 1px solid #202121;
    border-right: 1px solid #202121;
    padding: 3vw 5vw;
    margin-bottom: 10vw;
  }

  .Project2 {
    grid-area: Project2;
    background: #0d1016;
    border-radius: 1vw 1vw 0vw 0vw;
    border-top: 1px solid #202121;
    border-left: 1px solid #202121;
    border-right: 1px solid #202121;
    overflow: hidden;
  }

  .Project2-Info {
    grid-area: Project2-Info;
    border-radius: 0vw 0vw 1vw 1vw;
    border-bottom: 1px solid #202121;
    border-left: 1px solid #202121;
    border-right: 1px solid #202121;
    padding: 3vw 5vw;
    margin-bottom: 10vw;
  }

  .Project3 {
    grid-area: Project3;
    background: #0d1016;
    border-radius: 1vw 1vw 0vw 0vw;
    border-top: 1px solid #202121;
    border-left: 1px solid #202121;
    border-right: 1px solid #202121;
    overflow: hidden;
  }

  .Project3-Info {
    grid-area: Project3-Info;
    border-radius: 0vw 0vw 1vw 1vw;
    border-bottom: 1px solid #202121;
    border-left: 1px solid #202121;
    border-right: 1px solid #202121;
    padding: 3vw 5vw;
    margin-bottom: 3vw;
  }

  .project__external__icon {
    font-size: 8vw;
    color: white;
  }

  .tag {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    display: inline-block;
    margin-right: 1vw;
    border-radius: 1vw;
    padding: 1vw;
    font-size: 4vw;
  }

  .tag__icon {
    position: relative;
    top: 0.3vw;
    margin-right: 0.8vw;
    margin-left: 0.1vw;
    font-size: 4vw;
  }
}
