#home {
  width: 100%;
  height: 100vh;
  background: #090c10;
}

#home__content {
  width: 80%;
  margin: 0 auto;
}

.home__header {
  padding-top: 20vh;
  height: 20vw;
  padding-bottom: 5vh;
}

#typedtext {
  color: white;
  text-align: left;
  font-family: 'Consolas', monospace;
  font-size: 6vw;
}

.blink {
  animation: blink-animation 2s steps(2, start) infinite;
  -webkit-animation: blink-animation 2s steps(2, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@media (max-width: 640px) {

  #typedtext {
    font-size: 10vw;
  }
  
  .preface__header{
  padding-top: 2vh;
  height: 32vh;
}
  .preface__button {
  color: white;
  margin: 1rem 1rem 1rem 0rem;
  padding: 0.3em 0.4em 0.3em 0.4em;
  cursor: pointer;
  font-size: 4vw;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  background: #21262d;
  border-radius: 6px;
}
  
  .preface__button:hover {
    color: white;
  }
  
  .preface__button:active {
    color: #001220;
  }
  
}
