@import "scrollbar.css";
@import "navbar.css";
@import "home.css";
@import "about.css";
@import "projects.css";
@import "contact.css";

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: #090c10;
}

.btn {
  color: white;
  margin: 1vw 1vw 0vw 0vw;
  padding: 0.3em 0.4em 0.3em 0.4em;
  cursor: pointer;
  font-size: 1.5vw;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  background: #21262d;
  border-radius: 0.5vw;
  transition: 0.2s;
}

.btn:hover {
  transition: 0.2s;
  background-color: #ddd;
  color: #001220;
}

.btn__icon {
  color: white;
  position: relative;
  top: 0.2vw;
  margin-right: 0.3vw;
  color: #781fff;
  transition: 0.2s;
}

.btn:hover .btn__icon {
  color: #001220;
  transition: 0.2s;
}

.btn--large {
  padding: 1vw 1vw;
  font-size: 1.5vw;
  box-shadow: 0.3em 0.3em 0em #4e0cb0;
}

.btn__icon--large {
  color: white;
  top: 0.7vw;
  font-size: 2.5vw;
  margin-right: 0vw;
}

.grid__title {
  grid-area: grid__title;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3.5vw;
  text-shadow: 0.08em 0.08em #4e0cb0;
}

@media (max-width: 765px) {
  .contact-form {
    transition: width 0.5s;
    width: 70%;
  }

  .grid__title {
    grid-area: grid__title;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 6vh;
    padding-top: 8.5vh;
    text-align: center;
  }

  .button__external {
    box-shadow: 0 0 0 6px #001220;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    padding: 1.5vh 1.5vh;
    width: 60%;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    background-color: #c07afb;
    transition: 0.2s ease-in;
    font-size: 2.5vh;
  }

  .button__external:hover {
    transition: 0.2s ease-in;
    background-color: #001220;
    color: #c07afb;
    box-shadow: 0 0 0 6px #c07afb;
  }

  .button__icon {
    height: 3.5vh;
    width: 3.5vh;
    position: relative;
    top: 0.8vh;
  }
}

footer {
  font-size: 1.3vw;
  color: white;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-bottom: 5vw;
  margin-top: 5vw;
}
